<div class="form-field">
    <mat-form-field appearance="fill">
        <mat-label >שם ישיבה:</mat-label>
        <input matInput #name>
      </mat-form-field> 
      <br>
      <section class="example-section">
        <mat-checkbox class="example-margin"  #IsBig >גדולה/קטנה</mat-checkbox>
      </section> 
          <br>
      <button mat-stroked-button color="accent" (click)="schoolService.postSchool(name.value,IsBig.checked)">הוספה</button>
      <button mat-stroked-button color="accent" (click)="putItem()">עדכון</button>      
<button mat-stroked-button color="accent" (click)="schoolService.getSchools()">רשימת הישיבות</button>
<button mat-stroked-button color="accent" (click)="schoolService.getSchoolById(1)">קבלת ישיבה</button>
<button mat-stroked-button color="accent" (click)="schoolService.deleteSchoolById(3)">מחיקת ישיבה</button>
</div>